body{
    background-color: purple;
}

#container{
    position: relative;
}

button{
    position: absolute;
    left: 550px;
    top: 325px;

    height: 100px;
    width: 400px;

    background-color: rgb(160, 253, 255);

    border-radius: 50px;
    box-shadow: 10px 10px rgb(0, 230, 138);

    border: 3px solid black;

    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: black;

    transition: color 0.5s, background-color 0.5s, transform 0.5s, box-shadow 0.5s;

    animation-name:movement;
    animation-duration: 10s;
    animation-delay:2s;
    animation-iteration-count:infinite;

}

button:hover{
    transform: translate(10px, 10px);
    box-shadow: none;
}

button:active{
    transform: translate(10px, 10px);
    box-shadow: -10px -10px black;

    color: white;
    background-color: rgb(255, 0, 225);

}

@keyframes movement{
    0%{
        top:none;
    }

    50%{
        top:90%;
    }

    100%{
        bottom:90%;
    }
}